@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';



.g-arrows, .disabled-button {
  font-size: 6vw;
}

.disabled-button {
	color: grey;
}

.g-arrows:hover {
  cursor: pointer;
}


.video-control {
  padding: 1.15vw 1.76vw;
  position: absolute;
  bottom: 3vh;
  left: 42%;
}

.arrow-labels {
  font-size: 20px;
}

.nav-buttons {
  border: 0;
}