@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';



.g-arrows, .disabled-button {
  font-size: 6vw;
}

.disabled-button {
	color: grey;
}

.g-arrows:hover {
  cursor: pointer;
}


.video-control {
  padding: 1.15vw 1.76vw;
  position: absolute;
  bottom: 6.5vh;
  left: 44.5%;
  font-family: 'Droid Sans', sans-serif;
}

.arrow-labels {
  font-size: 20px;
}

.nav-buttons {
  border: 0;
  font-family: 'Droid Sans', sans-serif;
  padding: 6px 20px;
}

#vid-container {
	position: fixed;
	width: 85%;
	height: 100%;
}

#my-video {
	width: 15vw;
	position: relative;
	z-index: 4;
	left: 68.7%;
	bottom: 58.8%;
}

#other-video {
	width: 75%;
	position: relative;
	right: 6.3%;
}

#left-button-container {
	font-size: 100px;
	z-index: 6;
	position: absolute;
	bottom: 18vh;
	font-family: 'Droid Sans', sans-serif;
}

#right-button-container {
	font-size: 100px;
	z-index: 6;
	position: absolute;
	bottom: 18vh;
	right: 3%;
	font-family: 'Droid Sans', sans-serif;
}

#selection-div {
	height: 35.9vw;
	width: 63.822vw;
	position: absolute;
	right: 17.2%;
	background: black;
	opacity: .8;
}

#selection-div h3 {
	color: white;
}

.label-as-badge {
	background-color: red;
	border-radius: 10px;
	margin-left: 2px;
	margin-right: 0px;
}

.adjustment {
	padding-right: 0;
	padding-left: 19.7px;
}

.temp-si {
	width: 11vw;
	font-size: 1.02vw;
	padding: .7vw 1.02vw;
	font-family: 'Droid Sans', sans-serif;
}

.hidden {
	display: none;
}

#site-header {
	font-size: 3.06vw;
	font-family: 'Limelight', cursive;
}

.header2 {
	font-size: 8px;
	font-family: 'Limelight', cursive;
}

#chat-container {
	width: 100%;
	height: 80vh;
	border: 6px black solid;
	border-radius: 6px;
}

#matched-container {
	width: 30%;
	height: 100%;
	border-right: 6px solid black;
	overflow-y: auto;
	float: left;
}

.message-container {
	width: 70%;
	height: 100%;
	float: left;
	overflow-y: hidden;
}

.prompt-background {
	background: url(../img/shy.jpg) no-repeat;
	background-size: 100%;
}

.messages {
	overflow-y: auto;
	height: 90%;
}

.text-field {
width: calc(~"100% - 50px");
font-family: 'Droid Sans', sans-serif;
}

.submit-button {
	max-width: 50px;
	padding-right: 10px;
}

#text-form {
	position: relative;
	height: 26px;
	top: calc(~"100% - 26px");
	border-top: 2px solid black;
}


#matched-container::-webkit-scrollbar { 
    display: none; 
}

.matches {
	width: 100%;
	height: 11vh;
	border-top: 3px groove black;
	border-bottom: 3px groove black;
	cursor: pointer;
	line-height: 6.1;
	font-family: 'Roboto', sans-serif;
}

.matches:first-of-type {
	border-top: none;
	height: calc(~"11vh - 3px");
}

.matches:last-of-type {
	border-bottom: 6px groove black;
	height: calc(~"11vh + 3px");
}

// .matches:only-of-type {
// 	border-top: none;
// 	border-bottom: 6px groove black;
// 	height: 11vh;
// }

.matches h2 {
	display: inline;
}

.active {
	background: #13ABD2;
}

.active h2 {
	color: white;
}

.notification, .new-message {
	height: 8px;
	width: 8px;
	border-radius: 4px;
	float: left;
	margin: 0 5px;
	position: relative;
	top: 5vh;
	display: inline;
}

.new-message {
		background-color: #13ABD2;
}

.my-messages {
	text-align: right;
}

.my-messages .text-messages, .other-messages .text-messages {
	display: inline-block;
	padding: 6px;
	border-radius: 15px;
	margin-bottom: 0;
	font-size: 14px;
	max-width: 40%;
	word-wrap: break-word;
	font-family: 'Droid Sans', sans-serif;
}

.my-messages .text-messages {
	background-color: #178EFE;
	color: white;
	margin-right: 5px;
	text-align: right;
}

.other-messages .text-messages{
	margin-left: 5px;
	background-color: #BFBFBF;
}

.my-messages .timestamps {
	font-size: 10px;
	margin-right: 5px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}

.other-messages .timestamps {
	font-size: 10px;
	margin-left: 11px;
	font-family: 'Roboto', sans-serif;
}

.peer-name-wrapper {
	display: inline;
	position: absolute;
	left: 20%;
	top: 40vw;
}

.name-age, .city {
	color: white;
	text-shadow: 1px 1px 1px black;
	font-family: 'Droid Sans', sans-serif;
}

.name-age {
	font-size: 30px;
	margin-bottom: 0px;
}

.city {
	font-size: 10px;
	line-height: 0px;
}

.countdown {
	display: inline;
	position: absolute;
	left: 75%;
	top: 40vw;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-family: 'Droid Sans', sans-serif;
	font-size: 30px;
}

#wait-message {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 37%;
	top: 20%;
	color: white;
	text-shadow: 1px 1px black;
}

.no-messages-yet p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 3vw;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.no-matches p{
	text-align: center;
	word-wrap: break-word;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;
	width: 60%;
	margin-top: 20%;
	margin-left: 20%;
}


@media (max-width: 588px) {
  #site-header{
    font-size: 17.9928px;
  }
}